// cf: https://openclassrooms.com/fr/courses/8242681-integrez-une-maquette-figma-en-html-css/8242706-allez-plus-loin-avec-le-responsive-design-et-les-breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
