@use 'variables' as *;

.header {
    min-height: 40vh;
    background-image: url('../assets/img/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    // Overlay sombre pour améliorer la lisibilité du texte
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $color-overlay-dark;
    }

    &__title {
        font-size: $font-size-header-title;
        font-weight: 700;
        color: $color-text-light;
        position: relative;
        z-index: 1;
    }
}
