@use 'variables' as *;

.nav {
    background-color: $color-nav-bg;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem 2rem;

    &__menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &__item {
        &--right {
            margin-left: auto;
        }
    }

    &__link {
        color: $color-text-light;
        text-decoration: none;
        font-size: $font-size-text;
        font-weight: 400;
        transition: opacity 0.3s ease;

        &:hover,
        &:focus {
            opacity: 0.7;
        }

        &:focus {
            outline: 2px solid $color-text-light;
            outline-offset: 4px;
        }
    }
}
