@use '../../variables/variables' as *;

.carousel__card {
  flex: 0 0 auto;
  width: 280px;
  max-width: calc(100vw - 5rem * 2);
  background: $color-card-bg;
  border-radius: 0 0 $border-radius-global $border-radius-global;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform $animation-duration-global ease, box-shadow $animation-duration-global ease;

  &:hover {
    transform: scale(1.05);
  }

  &__thumbnail-wrapper {
    width: 100%;
    height: 170px;
    overflow: hidden;
    background-color: $color-card-thumbnail-bg;
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    text-align: center;
  }

  &__title {
    font-family: $font-family-primary;
    font-size: $font-size-title;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-card-title;
    padding: 0 1.5rem;
    margin: 1.5rem 0 0.75rem;
    line-height: 1;

    height: calc($font-size-title * 2);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__category {
    display: inline-block;
    font-size: $font-size-subtitle;
    font-family: $font-family-primary;
    font-weight: bold;
    margin: 0 1.5rem 0.75rem 1.5rem;
    border-radius: $border-radius-global;
    padding: 0.2rem 0.5rem;

    &--star {
      color: $color-category-star-text;
      background-color: $color-category-star-bg;
    }

    &--galaxy {
      color: $color-category-galaxy-text;
      background-color: $color-category-galaxy-bg;
    }

    &--black-hole {
      color: $color-category-black-hole-text;
      background-color: $color-category-black-hole-bg;
    }

    &--planet {
      color: $color-category-planet-text;
      background-color: $color-category-planet-bg;
    }

    &--nebula {
      color: $color-category-nebula-text;
      background-color: $color-category-nebula-bg;
    }
  }

  &__description {
    font-family: $font-family-primary;
    font-size: $font-size-text;
    line-height: 1.5;
    color: $color-card-text;
    margin: 0;
    padding: 0 1.5rem;
    margin-bottom: 1rem;

    height: calc($font-size-text * 1.5 * 6);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__link {
    font-family: $font-family-primary;
    font-size: $font-size-text;
    color: $color-card-link;
    text-decoration: none;
    display: block;
    text-align: center;
    border-top: 1px solid $color-card-link-border;
    padding: 1rem 0;
    transition: color $animation-duration-global ease;

    &:hover {
      color: $color-card-link__hover;
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 2px solid $color-outline;
      color: $color-card-link__hover;
      outline-offset: -2px;
    }
  }
}
